include(default)

[build_requires]

[settings]
compiler.cppstd=17
{% if compiler == 'gcc' %}compiler.libcxx=libstdc++11
{% elif compiler == 'apple-clang' %}compiler.libcxx=libc++
{% elif compiler == 'Visual Studio' %}compiler.toolset=v143
{% endif %}
[options]

[env]
{% if platform.system() == 'Windows' %}# FIXME: automake and autoconf don't play nice with msys2, so we need to use the local WSL Bash. The're also not fully modernized yet and depend on the CONAN_BASH_PATH instead of the `subsystem` configuration
automake:CONAN_BASH_PATH=bash.exe
autoconf:CONAN_BASH_PATH=bash.exe{% endif %}

[conf]
{% if platform.system() == 'Windows' %}# FIXME: automake and autoconf don't play nice with msys2, so we need to use the local WSL Bash
tools.microsoft.bash:subsystem = wsl
tools.microsoft.bash:path = bash.exe{% endif %}
